.index {
  header {
    @extend .jumbotron;

    background-color: $color-primary-0;
    text-align: center;
    
    h1 {
      color: $text-color-primary;
    }
  }

  section {
    @include make-row;

    margin-top: 45px;
    text-align: center;

    .is-index-block {
      @include make-xs-column(12);
    }
  }

  .is-contact-details {
    margin-top: 15px;
    
    @media (max-width: $screen-sm-max) {
      font-size: 18px;
    }

    @media (min-width: $screen-md-min) {
      font-size: 24px;
    }
  }
}
