---
title: indigoShift home
layout: site_page
page_class: index
---

<header>
  <h1>indigoShift</h1>
  <p>Data Driven Everything</p>
</header>

<main>
  <section>
    <div class="is-index-block">
      <h3>indigoShift is a consultancy offering expertise in quantitative finance. We can help you identify the best solutions for your problem domain, and build them when they don't exist.</h3>
    </div>
  </section>

  <section id="contact">
    <div class="is-index-block">
      <h4>Looking to leverage OSS for machine learning/artificial intelligence at scale? Get in touch.</h4>

      <p class="is-contact-details"><i class="fa fa-envelope" aria-hidden="true"></i> <%= mail_to data.site.contact_email, data.site.contact_email %></p>
    </div>
  </section>
</main>
